* {
    scroll-behavior: smooth;
    background-color: black;
    color: lime;
}

.hero-container {
    padding-top: 10vh;
    height: 100vh;
}

.hero-subcontainer {
    border: 2px solid lime;
    width: 1000px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
}

h1{
    font-size: 72pt;
    margin: 0;
}

nav {
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 50px
}

a {
    text-decoration: none;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}

.about-outer-container {  
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 100px;
}

.about-inner-container {
    width: 350px;
    text-align: center;
}

.about-subheading {
    font-size: 2.5em;
    margin-top: 30px;
}
