* {
    scroll-behavior: smooth;
    background-color: black;
    color: lime;
}

.hero-container {
    padding-top: 10vh;
    height: 100vh;
}

.hero-subcontainer {
    border: 2px solid lime;
    width: 1000px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
}

h1{
    font-size: 72pt;
    margin: 0;
}

nav {
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-around;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid yellow;
    height: 100vh;
    padding: 100px;
}

.ppf-outer-container {  
    border: 5px solid blue;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 60px;
}

.ppf-inner-container {
    border: 5px solid red;
    width: 350px;
    text-align: center;
}

.ppf-inner-container > p {
}